.frame-child8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2b2b2b;
  width: 1280px;
  height: 834px;
}
.our-key-value,
.technology-trends-of {
  position: absolute;
  top: 0;
  left: 452px;
  font-weight: 600;
}
.technology-trends-of {
  left: 0;
  font-weight: 500;
}
.lorem-ipsum-dolor3 {
  margin: 0;
}
.lorem-ipsum-dolor-container3 {
  position: absolute;
  top: 43px;
  left: 6px;
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 228px;
  height: 92px;
}
.clip-path-group,
.technology-trends-of-industry-parent {
  position: absolute;
  top: 138.57px;
  left: 0;
  width: 240px;
  height: 135px;
}
.clip-path-group {
  height: 36.55%;
  width: 41.67%;
  top: 0;
  right: 29.17%;
  bottom: 63.45%;
  left: 29.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-div,
.frame-parent1 {
  position: absolute;
  top: 0;
  left: 404px;
  width: 240px;
  height: 273.57px;
}
.frame-div {
  top: 356px;
  left: 10px;
  width: 1020px;
}
.lorem-ipsum-dolor-container4 {
  position: absolute;
  top: 46px;
  left: 21px;
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 228px;
  height: 92px;
}
.frame-child9,
.increase-chances-of-deal-closu-parent {
  position: absolute;
  top: 151.51px;
  left: 0;
  width: 265px;
  height: 138px;
}
.frame-child9 {
  height: 34.54%;
  width: 37.74%;
  top: 0;
  right: 30.94%;
  bottom: 65.46%;
  left: 31.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent2 {
  position: absolute;
  top: 4px;
  left: 784px;
  width: 265px;
  height: 289.51px;
}
.lorem-ipsum-dolor-container5 {
  position: absolute;
  top: 46px;
  left: 10px;
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 228px;
  height: 92px;
}
.frame-child10,
.get-noticed-by-right-costomers-parent {
  position: absolute;
  top: 151.51px;
  left: 0;
  width: 248px;
  height: 138px;
}
.frame-child10 {
  height: 34.54%;
  width: 40.32%;
  top: 0;
  right: 39.52%;
  bottom: 65.46%;
  left: 20.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent3 {
  position: absolute;
  top: 4px;
  left: 402px;
  width: 248px;
  height: 289.51px;
}
.lorem-ipsum-dolor-container6 {
  position: absolute;
  top: 42px;
  left: 10px;
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 228px;
  height: 92px;
}
.frame-child11,
.get-noticed-by-right-costomers-group {
  position: absolute;
  top: 156px;
  left: 0;
  width: 248px;
  height: 134px;
}
.frame-child11 {
  height: 34.48%;
  width: 40.32%;
  top: 0;
  right: 31.85%;
  bottom: 65.52%;
  left: 27.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-container,
.frame-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 248px;
  height: 290px;
}
.frame-container {
  top: 93px;
  width: 1049px;
  height: 629.57px;
  font-size: var(--font-size-lg);
}
.our-key-value-parent {
  position: absolute;
  top: 69px;
  left: 115px;
  width: 1049px;
  height: 722.57px;
}
.rectangle-root {
  position: relative;
  margin-left: 100px;
  width: 100%;
  height: 834px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
